.container{
    background: #FFFFFF;
    padding: 10px;
    border-bottom: #DEE1E6 1px solid;
}

.expandedContainer{
   min-height: 250px;
}

.headerContainer {
    display: flex;
    height: 65px;
    align-items: center;
    padding: 8px;
    gap: 10px;
    background-color: #FFFFFF;
}

.img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--primary-color);
    flex-shrink: 0;
}

.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;

}

.svg {
    color: #A2AAB4;
    font-size: 35px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
/* .line{
    border-bottom: #DEE1E6 1px solid;
    width: 598px;
} */


