.main {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 372px;
  /* background-color: #FFFFFF; */
  background-color: gray;
  border-radius: 7px;
  padding: 7px;
}
.img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.content {
  flex-grow: 1;
}
.title{
    font-weight: 600;
    font-size: 15.5px;
}

.text{
    width: 228px;
    height: 16px;
    font-weight: 500;
    font-size: 12.5px;
}

.date{
   font-weight: 600;
   font-size: 12px; 
   margin-bottom: 5px;
   display: block;
}
